:root{
    --logo-size: 150px;
}
#logo{
    display: inline-block;
    position: relative;
    overflow: visible;
    margin: 10px 10px 10px 10px;
    top: 0;
    left: 0;
    height: var(--logo-size);
    width: var(--logo-size);
}
.logo-shape{
    box-sizing: border-box;
    height: var(--logo-size);
    width: var(--logo-size);
    border-radius: 50%;
    background-image: linear-gradient(180deg, hotpink 35%, cyan);
}
.logo-img{
    height: var(--logo-size);
    width: var(--logo-size);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.logo-img-shadow{
    filter: drop-shadow(5px 2px 3px rgb(0, 0, 0));
}

.logo-shape-wrapper{
    filter: drop-shadow(0px 0px 10px #0044ff);
}

.logo-shape-animation{
    position: absolute;
    animation: risingSquare 20s infinite reverse linear;
}
@keyframes risingSquare {
    0%{
        clip-path: polygon(
            0 0, 100% 0, 
            100% 40%, 0 40%, 0 40%, 100% 40%, 
            100% 40%, 0 40%, 0 44%, 100% 44%, 
            100% 50%, 0 50%, 0 55%, 100% 55%,
            100% 60%, 0 60%, 0 66%, 100% 66%, 
            100% 70%, 0 70%, 0 77%, 100% 77%, 
            100% 80%, 0 80%, 0 88%, 100% 88%, 
            100% 90%, 0 90%, 0 99%, 100% 99%, 
            100% 100%, 0 100%, 0 100%, 100% 100%, 
            100% 100%, 0 100%);
    }
    12.5%{
        clip-path: polygon(
            0 0, 100% 0, 
            100% 100%, 0 100%, 0 100%, 100% 100%, 
            100% 40%, 0 40%, 0 40%, 100% 40%, 
            100% 40%, 0 40%, 0 44%, 100% 44%, 
            100% 50%, 0 50%, 0 55%, 100% 55%, 
            100% 60%, 0 60%, 0 66%, 100% 66%, 
            100% 70%, 0 70%, 0 77%, 100% 77%, 
            100% 80%, 0 80%, 0 88%, 100% 88%, 
            100% 90%, 0 90%, 0 99%, 100% 99%, 
            100% 100%, 0 100%);
    }
    25%{
        clip-path: polygon(
            0 0, 100% 0, 
            100% 90%, 0 90%, 0 99%, 100% 99%, 
            100% 100%, 0 100%, 0 100%, 100% 100%, 
            100% 40%, 0 40%, 0 40%, 100% 40%, 
            100% 40%, 0 40%, 0 44%, 100% 44%, 
            100% 50%, 0 50%, 0 55%, 100% 55%, 
            100% 60%, 0 60%, 0 66%, 100% 66%, 
            100% 70%, 0 70%, 0 77%, 100% 77%, 
            100% 80%, 0 80%, 0 88%, 100% 88%, 
            100% 100%, 0 100%);
    }
    37.5%{
        clip-path: polygon(
            0 0, 100% 0, 
            100% 80%, 0 80%, 0 88%, 100% 88%, 
            100% 90%, 0 90%, 0 99%, 100% 99%, 
            100% 100%, 0 100%, 0 100%, 100% 100%, 
            100% 40%, 0 40%, 0 40%, 100% 40%, 
            100% 40%, 0 40%, 0 44%, 100% 44%, 
            100% 50%, 0 50%, 0 55%, 100% 55%, 
            100% 60%, 0 60%, 0 66%, 100% 66%, 
            100% 70%, 0 70%, 0 77%, 100% 77%, 
            100% 100%, 0 100%);
    }
    50%{
        clip-path: polygon(
            0 0, 100% 0, 
            100% 70%, 0 70%, 0 77%, 100% 77%, 
            100% 80%, 0 80%, 0 88%, 100% 88%, 
            100% 90%, 0 90%, 0 99%, 100% 99%, 
            100% 100%, 0 100%, 0 100%, 100% 100%, 
            100% 40%, 0 40%, 0 40%, 100% 40%, 
            100% 40%, 0 40%, 0 44%, 100% 44%, 
            100% 50%, 0 50%, 0 55%, 100% 55%, 
            100% 60%, 0 60%, 0 66%, 100% 66%, 
            100% 100%, 0 100%);
    }
    62.5%{
        clip-path: polygon(
            0 0, 100% 0, 
            100% 60%, 0 60%, 0 66%, 100% 66%, 
            100% 70%, 0 70%, 0 77%, 100% 77%, 
            100% 80%, 0 80%, 0 88%, 100% 88%, 
            100% 90%, 0 90%, 0 99%, 100% 99%, 
            100% 100%, 0 100%, 0 100%, 100% 100%, 
            100% 40%, 0 40%, 0 40%, 100% 40%, 
            100% 40%, 0 40%, 0 44%, 100% 44%, 
            100% 50%, 0 50%, 0 55%, 100% 55%,
            100% 100%, 0 100%);
    }
    75%{
        clip-path: polygon(
            0 0, 100% 0, 
            100% 50%, 0 50%, 0 55%, 100% 55%,
            100% 60%, 0 60%, 0 66%, 100% 66%, 
            100% 70%, 0 70%, 0 77%, 100% 77%, 
            100% 80%, 0 80%, 0 88%, 100% 88%, 
            100% 90%, 0 90%, 0 99%, 100% 99%,  
            100% 100%, 0 100%, 0 100%, 100% 100%, 
            100% 40%, 0 40%, 0 40%, 100% 40%, 
            100% 40%, 0 40%, 0 44%, 100% 44%, 
            100% 100%, 0 100%);
    }
    87%{
        clip-path: polygon(
            0 0, 100% 0, 
            100% 40%, 0 40%, 0 44%, 100% 44%, 
            100% 50%, 0 50%, 0 55%, 100% 55%,
            100% 60%, 0 60%, 0 66%, 100% 66%, 
            100% 70%, 0 70%, 0 77%, 100% 77%, 
            100% 80%, 0 80%, 0 88%, 100% 88%, 
            100% 90%, 0 90%, 0 99%, 100% 99%, 
            100% 100%, 0 100%, 0 100%, 100% 100%, 
            100% 40%, 0 40%, 0 40%, 100% 40%, 
            100% 100%, 0 100%);
    }
    100%{
        clip-path: polygon(
            0 0, 100% 0, 
            100% 40%, 0 40%, 0 40%, 100% 40%, 
            100% 40%, 0 40%, 0 44%, 100% 44%, 
            100% 50%, 0 50%, 0 55%, 100% 55%,
            100% 60%, 0 60%, 0 66%, 100% 66%, 
            100% 70%, 0 70%, 0 77%, 100% 77%, 
            100% 80%, 0 80%, 0 88%, 100% 88%, 
            100% 90%, 0 90%, 0 99%, 100% 99%, 
            100% 100%, 0 100%, 0 100%, 100% 100%, 
            100% 100%, 0 100%);
    }
}


@media screen and (max-width: 800px) {
    :root{
        --logo-size: 100px;
    }
  }
@media screen and (max-width: 510px) {
    :root{
        --logo-size: 50px;
    }
}