html {
  height: 100%;
}

body {
  height: fit-content;
  min-height: 100vh;
  width: auto;
  margin: 0 0 0 0;
  background-image: linear-gradient(135deg, white, lightgrey);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

button > i {
  pointer-events: none;
}

.selectable-text {
  --x: 0%;
  cursor: pointer;
  text-decoration: underline;
  background-image: linear-gradient(90deg, rgba(255,255,255,0.55) 0%, rgba(255,255,255,0) 60%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
}

.selectable-text:hover {
  color:darkmagenta;
  background-size: 100% 100%;
}
.selectable-text:active {
  color:black;
  background-size: 100% 100%;
}

.icon-button {
  text-align: center;
}

.icon-button > i {
  vertical-align: baseline;
}

.divider {
  height: 10vh;
  box-shadow: inset 0 0 10px black;
  border: inset 5px lightgrey;
  margin-top: 20px;
  margin-bottom: 20px;

  background-image: url(../Media/CodeBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.divider::after {
  content: ""; 
  position: absolute;
  width: calc(100% - 10px);
  height: 10vh;
  backdrop-filter: blur(3px);
}

.verdana-font {
  font-family: Verdana, sans-serif !important;
}

.light-text {
  color: #666666;
}

.center-text {
  text-align: center !important;
}

.space-list-items li {
  margin: 0 0 1ch;
}

.cool-border {
  border-image: linear-gradient(135deg, cyan, magenta) 1 !important;
  border-width: 1px !important;
  border-style: solid !important;
}

.glassBG {
  backdrop-filter: saturate(180%) blur(10px) !important;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .glassBG {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}


#landing, #about, #technical {
  height: fit-content;
  min-height: 100%;
  max-height: max-content;
  width: 100%;
}

#technical{
  min-height: 100%;
}

.inset-box {
  position: relative;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  background-color: dimgrey;
  box-shadow: inset 0 0 10px black;
  border: inset 5px lightgrey;
}

#page-header {
  width: calc(100% - 20px);
  top: 10px;
  box-shadow: inset 0 0 40px black !important;
  color: white;
}

.header-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: right;
}

#title-box {
  display: inline-block;
  padding: 1rem 0 1rem 0;
  font-size: 1.5rem;
}

#title-tag-text {
  position: relative;
  top: 0;
  left: -6rem;
  transform: rotate(-10deg);
  margin: 0 0 0 0;
  padding-left: 1ch;
  height: 1px;
  color: rgb(255, 245, 255);
  text-shadow: 2px 2px 10px magenta;
  text-align: left;
  font-family: "Lucida Console", monospace;
  font-size: 2rem;
}

.header-buttongroup, .footer-buttongroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 5px;
  text-align: center;
  margin-bottom: 6px;
}

.footer-buttongroup {
  width: fit-content;
  padding: 20px 20px 20px 20px;
}

.scroll-to-section {
  box-sizing: border-box;
  margin: 0 3px 0 3px;
  padding: 0 1ch 0 1ch;
  background-color: whitesmoke;
  color: black;
  font-size: x-large;
  text-align: center;
  text-decoration: none;
  outline: outset 3px lightgray;
}

.scroll-to-section:hover {
  background-color: lightgray;
  outline: inset 3px lightgray;
}

@media screen and (max-width: 800px) {
  #title-box {
    font-size: 1rem;
  }
  #title-tag-text {
    left: -3rem;
    font-size: 1rem;
  }
  .scroll-to-section {
    font-size: medium;
  }
}
@media screen and (max-width: 510px) {
  #title-box {
    font-size: 0.5rem;
  }
  #title-tag-text {
    left: -1.5rem;
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 420px) {
  .header-buttongroup, .footer-buttongroup {
    position: relative;
    width:280px;
    left: 50%;
    transform: translateX(-50%);
  }

  .button-color-blue{
    order: 2;
  }
  .button-color-purple{
    order: 3;
  }
}

.button-color-blue {
  background-color: skyblue !important;
  outline-color: lightskyblue !important;
  color: white !important;
  /*box-shadow: 0 0 10px 3px lightgreen !important;*/
  text-shadow: 1px 1px 1px black;
  transition: 0.3s;
}

.button-color-blue:hover, .button-color-blue:active {
  background-color: steelblue !important;
  outline-color: skyblue !important;
  color: cyan !important;
  /*box-shadow: 0 0 10px 3px lightgreen !important;*/
  text-shadow: 1px 1px 5px cyan;
}

.button-color-purple {
  background-color: mediumpurple !important;
  outline-color: rgb(157, 115, 241) !important;
  color: white !important;
  /*box-shadow: 0 0 10px 3px lightgreen !important;*/
  text-shadow: 1px 1px 1px black;
  transition: 0.3s;
}

.button-color-purple:hover, .button-color-purple:active {
  background-color: rebeccapurple !important;
  outline-color: rgb(157, 115, 241) !important;
  color: violet !important;
  /*box-shadow: 0 0 10px 3px lightgreen !important;*/
  text-shadow: 1px 1px 5px magenta;
}

#landing-tagline {
  margin: 2ch 15px 4ch 15px;
  font-size: xx-large;
}

#landing-content-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#landing-content-text-container {
  margin-left: 4ch;
  margin-right: 2ch;

  background-color: rgba(0, 0, 0, 0.1);
  border: solid black 1px;
  box-shadow: 2px 2px 20px black;
  border-radius: 10px;

  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image:linear-gradient(170deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(255,255,255,0.9) 33%, rgba(255,255,255,0.9) 36%, rgba(0,0,0,0) 39%, rgba(0,0,0,0) 100%);
}

#landing-content-text{
  margin-left: 1ch;
  margin-right: 1ch;
  font-size: xx-large;
  line-height: 1.5;
}

#landing-video {
  margin-right: 3ch;
  width: fit-content;
  height: 480px;
  background-color: transparent;
  flex-grow: 0;
  flex-shrink: 0;
}

video {
  height: 100%;
  width: auto;
  box-shadow: 2px 2px 20px black;
}

@media screen and (max-width: 1535px) {
  #landing-video {
    height: 320px;
  }
}
@media screen and (max-width: 1200px) {
  #landing-tagline {
    font-size: x-large;
    margin-bottom: 2ch;
  }
  #landing-content-text-container {
    margin: 0 1ch 2ch 1ch;
  }
  #landing-content-text{
    font-size: x-large;
    text-align: center;
  }
  #landing-content-flex {
    flex-direction: column;
    justify-content: center;
  }
  #landing-video {
    margin: 0 0 0 0;
    align-self: center;
  }
}
@media screen and (max-width: 600px) {
  #landing-video {
    height: 240px;
  }
}
@media screen and (max-width: 440px) {
    #landing-video {
      height: 120px;
    }
  }

#about-content-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-content-container {
  width: calc(50% - 100px);
}

.about-font-1 {
  font-size: x-large;
}

.about-font-2 {
  font-size: medium;
}

@media screen and (max-width: 1000px) {
  #about-content-flex {
    flex-direction: column;
  }
  .about-content-container {
    width: calc(100% - 100px);
  }
}
@media screen and (max-width: 720px) {
  .about-font-1 {
    font-size: large;
  }
  .about-font-2 {
    font-size: small;
  }
}
@media screen and (max-width: 500px) {
  .about-font-1 {
    font-size: medium;
  }
}
/*---Hidden Window---*/
.hidden-window {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: min(900px, 100vh - 20px);
  width: min(1500px, 100% - 20px);
  background-color: grey;
  outline: solid black 1px;
  box-shadow: 5px 5px 15px black;
  transition: height 0.3s;
  margin-bottom: 20px;
}

.minimize-hidden-window {
  height: 36px !important;
  margin-bottom: 2px;
}

.hidden-window-title-bar {
  position: absolute;
  box-sizing: border-box;
  height: 28px;
  width: calc(100% - 8px);
  top: 4px;
  left: 4px;
  background-color: #000080;
  background-image: linear-gradient(135deg, #000080, slateblue);
  border: 2px inset black;
  font-family: "Lucida Console", monospace;
  line-height: 1.5;
  text-indent: 5px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.center-hidden-window-button {
  position: absolute;
  box-sizing: border-box;
  float: right;
  width: 22px;
  height: 22px;
  top: 7px;
  left: calc(100% - 29px - 22px);
  color: rgb(233, 233, 233);
  text-shadow: 0 0 3px white;
  background-color: rgb(60, 60, 60);
  transition: 0.4s;
}

.center-hidden-window-button:hover {
  color: cyan;
  text-shadow: 0 0 4px cyan;
  background-color: rgb(43, 43, 43);
  border-color: rgb(43, 43, 43);
}

.fullscreen-hidden-window-button {
  position: absolute;
  box-sizing: border-box;
  float: right;
  width: 22px;
  height: 22px;
  top: 7px;
  left: calc(100% - 29px);
  color: rgb(233, 233, 233);
  text-shadow: 0 0 3px white;
  background-color: rgb(60, 60, 60);
  transition: 0.4s;
}

@media (hover: hover) and (pointer: fine) {
  .fullscreen-hidden-window-button:hover {
    color: cyan;
    text-shadow: 0 0 4px cyan;
    background-color: rgb(43, 43, 43);
    border-color: rgb(43, 43, 43);
  }
}
@media not (hover: hover) and (pointer: fine) {
  .fullscreen-hidden-window-button:active {
    color: cyan;
    text-shadow: 0 0 4px cyan;
    background-color: rgb(43, 43, 43);
    border-color: rgb(43, 43, 43);
  }
}

.fullscreen-hidden-window-button > i {
  margin-left: -1px;
  margin-top: -1px;
}

.inner-hidden-window-left, .inner-hidden-window-right, .inner-hidden-window-full {
  position: absolute;
  box-sizing: border-box;
  overflow: auto;
  width: 250px;
  height: calc(100% - 40px);
  top: 36px;
  left: 4px;
  background-color: rgb(226, 221, 215);
  border: inset black 2px;
}

.inner-hidden-window-right {
  width: calc(100% - 8px - 254px);
  height: calc(100% - 40px);
  top: 36px;
  left: 258px;
  background-color: rgb(226, 221, 215);
}

.inner-hidden-window-full {
  width: calc(100% - 8px);
}

.hidden-window-text, .tech-view-element-text {
  font-family: "Lucida Console", monospace;
  overflow-wrap: break-word;
  line-height: 1.4;
  padding: 5px 0 0 10px;
  margin: 0 0 0 0;
}

.hidden-window-text > a:link, .hidden-window-text > a:visited {
  color: gainsboro;
}

.hidden-window-text > a:hover {
  color: turquoise;
}

.tech-view-element {
  display: none;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
}

.tech-view-element-text {
  padding: 5px 15px 0 15px;
}

.tech-view-element h2 {
  margin-left: 1ch;
  font-style: italic;
  color: darkslateblue;
}

.tech-view-element ul {
  margin-right: 15px;
}

.tech-view-element ul li {
  margin-top: 1ch;
}

.tutorial-text-wrapper {
  position: relative;
  width: 750px;
  left: 50%;
  transform: translateX(-50%);
}

.inner-hidden-window-full pre {
  white-space: pre-wrap;
  padding: 5px 15px 0 15px;
}

.inner-hidden-window-full pre h2 {
  margin: 1ch 0 15px 0;
  font-style: italic;
  color: darkslateblue;
}

.inner-hidden-window-full pre h3 {
  display: inline-block;
  margin: 1ch 0 15px 0;
  font-style: italic;
  color: darkslateblue;
  font-size: larger;
}

.inner-hidden-window-full pre h4 {
  display: inline-block;
  margin: 1ch 0 15px 0;
  color: black;
  font-size: medium;
}

.code-block {
  display: inline-block;
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-all;
  margin-left: 15px;
  margin-right: 15px;
  padding: 2ch 1ch 2ch 1ch;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 10px black;
}

#flow-chart {
  cursor: zoom-in;
}

@media screen and (max-width: 1000px) {
  .inner-hidden-window-left {
    width: calc(100% - 8px);
    height: 250px;
    top: 36px;
    left: 4px;
  }
  .inner-hidden-window-right {
    width: calc(100% - 8px);
    height: calc(100% - 40px - 254px);
    top: 290px;
    left: 4px;
  }
}
@media screen and (max-width: 820px) {
  .tutorial-text-wrapper {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */